
# Python
__pycache__
.ipynb_checkpoints/
*.pyc

# Package build artifacts
build/
dist/
*.egg-info/
.eggs/
.coverage
.coverage.*
htmlcov/
.mypy_cache/
.ruff_cache/
.pytest_cache/

# IDEs
.idea/
.vscode/

# Virtual environments
.venv/
.env/
venv/
env/

# System
.DS_Store
*.log

# System
.tools/
